# Node Modules
node_modules

# Bower Components
bower_components
public/bower_components

# Grunt/Testing Artifacts
.grunt/
_SpecRunner.html

# Compiled CSS
public/stylesheets/app.css

# SCSS Settings
scss/_settings.scss