doctype html
html
  head
    title= 'Triumphant Tasks'
    link(rel='stylesheet', href='/bower_components/foundation/scss/foundation.scss')
    link(rel='stylesheet', href='/bower_components/foundation/scss/normalize.scss')
    link(rel='stylesheet', href='/stylesheets/style.css')
    -each s in scripts
      script(type='text/javascript', src = s)
  body
    block content